ANJU_LLM_BASE_URL=
ANJU_LLM_API_KEY=
ANJU_LLM_MODEL=
ANJU_LLM_TIMEOUT=120
ANJU_EMBEDDING_PROVIDER=auto
ANJU_EMBEDDING_MODEL=embeddinggemma
ANJU_OLLAMA_BASE_URL=http://127.0.0.1:11434
ANJU_OLLAMA_TIMEOUT=20
